<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/styles/service.css">
	<link rel="stylesheet" href="style.css">
	<script src="/scripts/iggyjs/iggy.js"></script>
	<script src="view-model.js"></script>
	<script src="view.js"></script>
</head>
<body>
	<ul class="service-list" data-template="service-template" data-bind="
		class-icon-only: iconOnly;
		items: services;
		data-columns: columns"></ul>

	<script type="text/html" id="service-template"><li class="service"
		data-bind="data-service-id: id">
		<button data-bind="command: open"></button>
		<div>
			<img data-bind="src: image">
			<span data-bind="text: name"></span>
			<button
				data-bind="text: badgeText; command: badgeCommand"></button>
		</div>
	</li></script>

	<div>
		<a href="#" tabindex="-1"
			data-bind="command: openAppsDashboard">Apps Dashboard</a>
		<a href="#" tabindex="-1"
			data-bind="command: openOptionPage">Option Page</a>
	</div>
</body>
</html>

