<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="page-style.css">
	<script src="page-view.js"></script>
</head>
<body>
	<div class="sect">
		<div class="sect-title">
			<a href="https://chrome.google.com/webstore/detail/denbapicipbiplggmfebiogiphopgjca">Terminal for Google</a>
		</div>
		<p>
			This extension is created by
			<a href="http://twitter.com/chick307">chick307</a>
			&lt;<a href="mailto:chick307@gmail.com">chick307@gmail.com</a>&gt;.<br>
			You can fork this extension on
			<a href="https://github.com/Chick307/Terminal-for-Google">
				github</a>.
		</p>
	</div>

	<div class="sect">
		<div class="sect-title">
			<a href="http://fav.me/d4h6dg9">Google JFK Icons</a>
		</div>
		<p>
			The all of the images are provided by
			<a href="http://carlosjj.deviantart.com/">Carlos</a>.
		</p>
	</div>
</body>
</html>
