
body {
	color: #444;
}

.sect {
	font-size: small;
	font-family: serif;
	padding: 0 1.5em;
	line-height: 2em;
}

.sect > .sect-title {
	margin: 2em 0 1.5em -1.5em;
	font-weight: bold;
}

.sect + .sect {
	margin-top: 3em;
}

.sect ul {
	padding: 0;
}

.sect li {
	display: block;
}

.msg {
	display: inline-block;
	margin: 0 0.5em;
	padding: 0 1em;
	border: 1px solid #090;
	border-radius: 3px;
	background: #0B0;
	font-family: sans-serif;
	font-size: x-small;
	font-weight: bold;
	line-height: 2em;
	color: #FFF;
	opacity: 0;
	-webkit-transition: opacity 0.1s;
}

.msg.saved {
	opacity: 1;
}

ul.service-list {
	margin: 16px auto;
	border-radius: 5px;
	min-height: 40px;
	background: #FFF;
	transition: background 0.1s;
	-webkit-transition: background 0.3s;
	padding-bottom: 41px;
}

.dragging ul.service-list {
	background: #CDF;
	box-shadow: 0 0 0 1px #BCE;
}

ul.service-list > li.service {
	-webkit-user-drag: element;
	cursor: move;
}

ul.service-list > li.service:-webkit-drag > div {
	background: #FFF;
	opacity: 0.7;
}
