<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="page-style.css">
	<script src="page-view.js"></script>
	<script src="page-view-model.js"></script>
</head>
<body>
	<div class="sect">
		<div class="sect-title">Security</div>
		<ul>
			<li>
				<input id="secure-box" type="checkbox"
					data-bind="checked: secure">
				<label for="secure-box">use SSL (https://〜)</label>
				<span data-key="secure" class="msg">saved</span>
			</li>
		</ul>
	</div>

	<div class="sect">
		<div class="sect-title">Apperance</div>
		<ul>
			<li>
				<input id="icon-only-box" type="checkbox"
					data-bind="checked: iconOnly">
				<label for="icon-only-box">show icon only</label>
				<span data-key="icon-only" class="msg">saved</span>
			</li>
			<li>
				<label for="columns-box">columns</label>
				<select id="columns-box" data-bind="value: columns">
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				<span data-key="columns" class="msg">saved</span>
			</li>
		</ul>
	</div>
</body>
</html>
