<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="page-style.css">
	<link rel="stylesheet" href="/styles/service.css">
	<script src="page-view.js"></script>
	<script src="page-view-model.js"></script>
</head>
<body>
	<div class="sect">
		<div class="sect-title">Enabled Services</div>
		<ul></ul>
		<ul id="enabled-services" class="service-list"
			data-template="service-template"
			data-bind="data-columns: columns; items: enabledServices"></ul>
	</div>

	<div class="sect">
		<div class="sect-title">Disabled Services</div>
		<ul id="disabled-services" class="service-list"
			data-template="service-template"
			data-bind="data-columns: columns; items: disabledServices"></ul>
	</div>

	<script type="text/html" id="service-template"><li class="service"
		data-draggable="service" data-bind="data-service-id: id">
		<div>
			<img data-bind="src: image">
			<span data-bind="text: name"></span>
		</div>
	</li></script>

	<div class="sect" data-bind="style-display: gmailDisplay">
		<div class="sect-title">Gmail</div>
		<ul>
			<li>
				<input type="checkbox" id="gmail-poll-box"
					data-bind="checked: gmailPollEnabled">
				<label for="gmail-poll-box">check unread count</label>
				<label for="gmail-poll-interval-box">every</label>
				<select id="gmail-poll-interval-box" data-bind="
					value: gmailPollInterval;
					enabled: gmailPollEnabled">
					<option value="300000">5min
					<option value="600000">10min
					<option value="1800000">30min
				</select>
				<span data-key="gmail-poll-enabled gmail-poll-interval"
					class="msg">saved</span>
			</li>
		</ul>
	</div>

	<div class="sect" data-bind="style-display: readerDisplay">
		<div class="sect-title">Google Reader</div>
		<ul>
			<li>
				<input type="checkbox" id="reader-poll-box"
					data-bind="checked: readerPollEnabled">
				<label for="reader-poll-box">check unread count</label>
				<label for="reader-poll-interval-box">every</label>
				<select id="reader-poll-interval-box" data-bind="
					value: readerPollInterval;
					enabled: readerPollEnabled">
					<option value="300000">5min
					<option value="600000">10min
					<option value="1800000">30min
				</select>
				<span data-key="reader-poll-enabled reader-poll-interval"
					class="msg">saved</span>
			</li>
		</ul>
	</div>

	<div class="sect" data-bind="style-display: plusDisplay">
		<div class="sect-title">Google+</div>
		<ul>
			<li>
				<input type="checkbox" id="plus-poll-box"
					data-bind="checked: plusPollEnabled">
				<label for="plus-poll-box">check unread count</label>
				<label for="plus-poll-interval-box">every</label>
				<select id="plus-poll-interval-box" data-bind="
					value: plusPollInterval;
					enabled: plusPollEnabled">
					<option value="300000">5min
					<option value="600000">10min
					<option value="1800000">30min
				</select>
				<span data-key="plus-poll-enabled plus-poll-interval"
					class="msg">saved</span>
			</li>
		</ul>
	</div>

	<div class="sect" data-bind="style-display: urlshortenerDisplay">
		<div class="sect-title">Google URL Shortener</div>
		<ul>
			<li>
				<input type="checkbox" id="shorten-button-box"
					data-bind="checked: shortenButtonEnabled">
				<label for="shorten-button-box">enable "Shorten" button</label>
				<span data-key="shorten-button-enabled"
					class="msg">saved</span>
			</li>
		</ul>
	</div>
</body>
</html>

